* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span.strikethrough {
    text-decoration: line-through;
    
}

ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

#cancel{
    display: none;
}
